.userInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  flex: 1 1 10%; // 2열 구성을 위해 최대 45% 너비
  margin: 10px;

  button {
    width: 100%;
    padding: 10px;
    background-color: #020715;
    font-weight: bold; // 텍스트 굵기 변경
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #555;
    }
  }
}

.active {
  background-color: #555; // 활성화된 상태의 배경색
  color: white; // 활성화된 상태의 텍스트 색상

  button {
    background-color: #555; // 버튼의 배경색
    color: white; // 버튼의 텍스트 색상
    font-size: 18px; // 버튼의 텍스트 크기 증가
    padding: 12px 24px; // 버튼의 패딩 조정
    border-radius: 5px; // 버튼의 모서리를 둥글게
    transition: background-color 0.3s, color 0.3s; // 색상 변경 시 부드러운 전환 효과

    &:hover {
      background-color: #666; // 호버 상태의 배경색 변경
      color: white; // 호버 상태의 텍스트 색상
    }
  }
}

@media (max-width: 768px) {
  .buttonWrapper {
    flex: 1 1 100%; // 모바일에서는 한 열로 표시
  }
}
